header {
  background: url(../images/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: $white;
  nav {
    display: grid;
    grid-template-columns: 12% 78% 10%;
    padding: 20px 200px;
    h2 {
      color: $white;
      font-size: 2.5rem;
    }

    ul,
    .nav-icon {
      display: flex;
      justify-content: space-around;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      text-transform: uppercase;
    }
    i {
      transform: translateY(30%);
      cursor: pointer;
    }
  }
  .header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    h2 {
      font-size: 3rem;
      font-weight: 400;
    }
    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      font-family: $font2;
      letter-spacing: 10px;
    }
    img {
      width: 35px;
      margin: 0 auto;
    }
    p {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 0.9rem;
    }
  }
}
