.contact-card {
  height: 650px;

  padding: 50px 150px;

  & .contact-card-title {
    text-align: center;
    padding: 20px 0;
  }

  & .contact-card-contact {
    background: $green1;
    border-radius: 15px;
    height: 80%;
    display: grid;
    grid-template-columns: auto 35%;

    & form {
      display: grid;
      gap: 20px;
      padding: 50px;
      grid-template-rows: 45px 45px 150px 1fr;
      & .form-name {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }

      & input[type="text"],
      textarea {
        border: none;
        border-radius: 10px;
        resize: none;
        padding-left: 20px;
        outline: none;
        width: 100%;

        // & :focus {
        //   border: pink;
        //   outline: red;
        // }
      }

      & textarea {
        padding-top: 15px;
      }

      & .submit-container {
        display: flex;
        align-items: flex-end;
      }
    }
    & .info {
      background: $green3;
      color: white;
      border-radius: 15px;
      margin: 20px;
      padding: 25px 35px;
      display: grid;
      grid-template-rows: 20% 20% 20% auto;
      gap: 25px;

      & h3 {
        font-size: 1.5rem;
      }

      & .info-adresse,
      .info-phon,
      .info-hours {
        display: grid;
      }

      & .info-logo {
        display: flex;
        align-items: flex-end;
        cursor: pointer;
      }

      & .info-logo i {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .contact-card {
    height: 100%;

    & .contact-card-title {
      & h2 {
        font-size: 3rem;
      }
    }
    & .contact-card-contact {
      border-radius: 15px;
      height: auto !important;
      display: flex !important;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact-card {
    height: 100%;
    padding: 30px;

    & .contact-card-title {
      & h2 {
        font-size: 2rem;
      }
    }

    & .contact-card-contact {
      border-radius: 15px;
      height: auto !important;
      display: flex !important;
      flex-direction: column;
      & form {
        padding: 30px !important;
      }
    }
    & .info {
      gap: 15px !important;
      & h3 {
        font-size: 1rem !important;
      }
      & p {
        font-size: 0.8rem;
      }
    }
  }
}
