.brand,
.brand-mobile {
  height: calc(150px + 4vw);
  width: 100%;

  @include center-flex;

  & .brand-card {
    background: $gray2;
    height: 70%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & a {
      transition: 0.1s ease-out;

      & :hover {
        background: white;
        border-radius: 15px;
        transition: 0.1s ease-out;
        filter: grayscale(0);
      }
    }
    & img {
      height: calc(70px + 2vw);
      width: auto;
      max-width: 200px;
      object-fit: contain;
      border-radius: 15px;
      filter: grayscale(100%);
      padding: 15px;
    }
  }
}

.brand-mobile {
  display: none;
}

@media screen and (max-width: 1050px) {
  .brand {
    display: none;
  }

  .brand-mobile {
    display: flex;
  }
}
