// regroupe tous les réglages généraux

@font-face {
  font-family: "font1";
  src: url(../fonts/Quicksand-Light.ttf);
}

$font1: "font1", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$green1: #dbebeb;
$green2: #24dfc6;
$green3: #0b6270;
$gray1: #f0f0f0;
$gray2: #282828;
$gray3: #181818;
$black1: black;
$Gradiant: linear-gradient(225deg, #24dfc6 0%, #dbebeb 100%);

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin around-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #0b6270;
  color: white;
}

body {
  font-family: $font1;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1rem;
}
