@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --color1: rgb(255, 255, 255);
  --color2: rgb(244, 244, 244);
  --color3: rgb(20, 20, 20);
  --color4: rgb(102, 0, 175);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Thin", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin: 20px 170px;
  list-style: none;
  font-weight: bold;
  font-size: 0.9rem;
}

nav li {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}

nav li::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: -20px;
  background: var(--color4);
  visibility: hidden;
  transition: 0.1s;
}

nav li:nth-child(8) {
  background: var(--color2);
  padding: 5px 15px;
  border-radius: 30px;
}

nav li:hover {
  color: var(--color4);
  cursor: pointer;
}

nav li:hover::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: -20px;
  background: var(--color4);
  visibility: visible;
}

nav li:nth-child(8):hover::before {
  visibility: hidden;
}

header {
  background-image: url(./assets/img/bg.jpg);
  background-position: center;
  padding: 50px 0;
}

.main-header {
  width: 50%;
  display: block;
  margin: 0 auto;
  /* background: url(./assets/img/bg.jpg) center/cover; */
}

#logo img {
  margin: 0 auto;
  display: block;
}

.main-header h1 {
  color: var(--color1);
  padding: 30px 0;
  font-size: 1.5rem;
  text-align: center;
}
.main-header button {
  color: var(--color1);
  background: transparent;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--color1);
  padding: 15px 30px;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.main-header button:hover {
  background-color: var(--color1);
  color: var(--color3);
}

.main-header i {
  padding-left: 10px;
}

.header-text {
  background: var(--color1);
  height: 150px;
  padding: 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-text p {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: none;
}

.icon-part {
  background-color: var(--color3);
  height: 550px;
  color: var(--color1);
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon-part-container {
  width: 72%;
  display: flex;
  flex-direction: row;
}

.list-icon-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 25px;
}

.list-icon-part h3 {
  font-size: 1rem;
}

.list-icon-part p {
  font-size: 0.9rem;
  text-transform: none;
}

.list-icon-part button {
  color: var(--color1);
  display: block;
  background: transparent;
  margin: 0 auto;
  border: 1px solid var(--color1);
  padding: 10px 35px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
}

.news-part {
  background: var(--color2);
  height: 800px;
  padding: 100px 0;
}

.header-news {
  width: 65%;
  height: 65px;
  display: grid;
  grid-template-columns: 65% 35%;
  margin: 0 auto;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left-part h2 {
  font-weight: 400;
  letter-spacing: 3px;
}

.left-part p {
  text-transform: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.right-part {
  display: block;
  margin: auto;
}
.right-part button {
  color: var(--color3);
  display: block;
  background: transparent;
  margin: 0 auto;
  border: 1px solid var(--color3);
  padding: 10px 25px;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 2px;
}

.main-news {
  width: 65%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

.main-news-container {
  padding-top: 70px;
  display: grid;
  gap: 110px;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-news-container div {
  display: flex;
  flex-direction: column;
}

.main-news-container h4 {
  padding: 20px 0;
  font-size: 0.9em;
  width: 80%;
  text-transform: none;
  letter-spacing: 1px;
}

.main-news-container p {
  text-transform: none;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.main-news-container a {
  font-size: 0.7rem;
  color: var(--color4);
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  padding-top: 25px;
  padding-left: 4px;
}

.linky {
  display: block;
  padding-top: 60px;
}

div:nth-child(3) a {
  margin-top: 40px;
  padding-left: 5px;
}

.mn-pic img {
  box-shadow: 0px 0px 10px rgba(11, 11, 11, 0.4);
  border-radius: 4px;
}

.contact {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.contact-container {
  margin: 80px 0;
  display: grid;
  grid-template-rows: 70% 30%;
  gap: 50px;
}

.contact-list {
  display: flex;
  flex-direction: row;
  position: relative;
}

.list {
  flex: 1;
}

.list a {
  text-decoration: none;
  color: var(--color4);
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: none;
}

.infos-p {
  height: 80%;
  list-style: none;
}

.infos-p li {
  padding-bottom: 12px;
}

.list h5 {
  font-size: 1rem;
  padding-bottom: 15px;
}

.list p {
  text-transform: none;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-bottom: 10px;
  width: 75%;
}

.list h6 {
  padding-bottom: 10px;
  text-transform: none;
  font-size: 0.7rem;
}

.network {
  padding-top: 20px;
  margin-bottom: -8px;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 35%;
  margin-bottom: 30px;
}

.footer-logos i {
  transform: scale(0.8);
  font-weight: bold;
}

.copyright {
  margin-bottom: -15px;
}

.contact-medias {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: -30px;
  transform: translateX(-40px);
  margin-top: 15px;
}

.medias-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 10px;
}

.contact-list::after {
  content: "";
  width: 85%;
  height: 1px;
  background: var(--color2);
  position: absolute;
  top: 130%;
  left: 3%;
}

.medias-text h3 {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.medias-text p {
  text-transform: none;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.medias-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-20px);
}

.medias-logos img {
  scale: 0.9;
}

footer {
  background: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 150px;
  color: var(--color1);
  gap: 30px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  padding: 0 270px;
}

footer h3 {
  font-weight: 400;
}

/* ****intergration mobile*********** */

@media screen and (max-width: 750px) {
  nav {
    z-index: -1;
  }
}
